<h2>Product List</h2>

 
<a href="#/products/create" ng-if="hasRole('Admin') || hasRole('Staff')">Create New</a>

<select ng-model="year">
    <option value="">All</option>
    
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
</select>


<div class="flex two">
    <div ng-repeat="product in products | orderBy:'-name' | byYear:year">
       <product-widget product="product" add-to-cart="addToCart(product)">
       </product-widget>
    </div>
</div>


<!--
<div class="flex four">
<div ng-repeat="product in products | byYear:year | orderBy:'name'" >
    <product-info>
    </product-info>
</div>
</div>

-->