<h2>{{title}}</h2>

<h4>Home Page Likes {{count}} </h4>
 
<likes count="count" 
       title="For Home"
       likes-click = "countClicked()"
       id = "home"

       >
    <h2>Home Likes {{count}} </h2>
</likes>
 

<h4>Site count {{siteCount}} </h4>
 
 
<likes count="siteCount" 
        title="For Site"
        template="likes2.html"
        >
    <h2>Website Likes {{siteCount}}</h2>
</likes>
 

<div class="flex three">
 <div >
     <h2>Our Products</h2>
     <!--
     <ul >
         <li ng-repeat="product in products">
             {{product.name}}
         </li>
     </ul> -->

     <div ng-repeat="product in products">
         <div product-widget product="product" add-to-cart="addToCart(product)" >
         </div>>
     </div>
     
 </div>

<div >
   <h2>Our Brands</h2>
     <ul >
         <li ng-repeat="brand in brands">
             {{brand.name}}
         </li>
     </ul>
 </div>

 <div >
   <h2>Our Stores</h2>
     <ul >
         <li ng-repeat="state in states">
             {{state.name}}
         </li>
     </ul>
 </div>

</div>